<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 40px;">
       <div class="col-8">
          <div class="jumbotron">
             <h3>Reactive Form Custom Valdiation</h3>
             <div>
                <!-- registration form starts here -->
                <form [formGroup]="form">
                   <div class="form-group">
                      <label for="usernameInput">User Name</label>
                      <input formControlName="username" type="text" class="form-control" id="usernameInput" placeholder="Enter username">              
                      <span *ngIf="form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched)">
                      <!-- <i class="fa fa-check-circle" style="color:green;" *ngIf="form.controls.username.valid"></i> -->
                      <i class="fa fa-times-circle" style="color:firebrick;"  *ngIf="form.controls.username.errors.required">
                      Username Should not be empty</i>
                      </span>
                   </div>
                   <div class="form-group">
                      <label for="passwordInput">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="passwordInput" placeholder="Enter Password">
                   </div>
                   <div class="form-group">
                      <label for="confpasswordInput">Confirm Password</label>
                      <input formControlName="cnfpass" type="password" class="form-control" id="confpasswordInput" placeholder="Re-enter Password">
                      <span class="validations" *ngIf="form.controls.cnfpass.touched">
                      <!-- <i class="fa fa-check-circle" style="color:green;"  *ngIf="form.controls.cnfpass.valid"></i> -->
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.cnfpass.invalid">
                      Password and confirm password should match.</i>
                      </span>
                   </div>
                   <div class="form-group">
                      <label for="zipcodeinput">Zip Code</label>
                      <input  formControlName="zip" type="text" class="form-control" id="zipcodeinput" placeholder="Enter Zip Code">
                      <span *ngIf="form.controls.zip.invalid && (form.controls.zip.dirty || form.controls.zip.touched)">
                      <!-- <i class="fa fa-check-circle" style="color:green;" *ngIf="form.controls.zip.valid"></i> -->
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.zip.errors.isError1 || form.controls.zip.errors.required">
                      Zip code is required and it should be 6 digit number only.
                      </i>
                      </span>
                   </div>

                   <div class="form-group">
                      <label for="">Email</label>
                      <input  formControlName="email" type="text" class="form-control" id="zipcodeinput" placeholder="Enter email">
                      <span *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                      <!-- <i class="fa fa-check-circle" style="color:green;" *ngIf="form.controls.email.valid"></i> -->
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.email.errors.emailDomain || form.controls.email.errors.required || form.controls.email.invalid">
                      Email is required and it should have the domain wipro
                      </i>
                      </span>
                   </div>

                   <div class="form-group">
                      <label for="">Numbers</label>
                      <input  formControlName="alnum" type="text" class="form-control" id="alnum" placeholder="Enter email">
                      <span *ngIf="form.controls.alnum.invalid && (form.controls.alnum.dirty || form.controls.alnum.touched)">
                      <!-- <i class="fa fa-check-circle" style="color:green;" *ngIf="form.controls.alnum.valid"></i> -->
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.alnum.errors.number1">
                      Please enter only Numbers
                      </i>
                      </span>
                   </div>

                   <div class="form-group">
                      <label for="">Mobile No:</label>
                      <input  formControlName="mobileNo" type="text" class="form-control" id="mobileNo" placeholder="Enter Mobile No">
                      <span *ngIf="form.controls.mobileNo.invalid && (form.controls.mobileNo.dirty || form.controls.mobileNo.touched)">
                      <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="form.controls.mobileNo.errors.mobNo">
                      Please enter valid Mobile No
                      </i>
                      </span>
                   </div>
               



                   <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                   <br><br>
                   <hr>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>